<div id="home-page">
  <section style="display: flex; flex-direction: column; justify-content: stretch; gap: 1rem;">
    <button class="mdc-button mdc-button--raised mdc-button--icon-leading" (click)="createNewList(SimpleListType.People)">
      <span class="mdc-button__ripple"></span>
      <i class="material-icons mdc-button__icon" aria-hidden="true">add_circle</i>
      <span class="mdc-button__label">Nova lista de pessoas</span>
    </button>
    <button class="mdc-button mdc-button--raised mdc-button--icon-leading" (click)="createNewList(SimpleListType.Items)">
      <span class="mdc-button__ripple"></span>
      <i class="material-icons mdc-button__icon" aria-hidden="true">add_circle</i>
      <span class="mdc-button__label">Nova lista de itens</span>
    </button>
    <button class="mdc-button mdc-button--raised mdc-button--icon-leading" (click)="createNewList(SimpleListType.Items)" disabled>
      <span class="mdc-button__ripple"></span>
      <i class="material-icons mdc-button__icon" aria-hidden="true">add_circle</i>
      <span class="mdc-button__label">Nova lista de tarefas</span>
    </button>
  </section>
</div>
