@use "~@material/typography/mdc-typography";
@use "~@material/icon-button/styles" as icon-button-styles;
@use '~material-icons/iconfont/filled';


html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  background-color: #dddbd1;
  background-image: linear-gradient(
      180deg, #dddbd1, #d2dbdc);
}

* {
  min-height: 0;
  min-width: 0;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, .1);
}


.header {
  background-color: #009688;
  color: #FFF;
  width: 100%;
  display: inline-flex;
  align-items: center;
  min-width: 0;
  box-sizing: border-box;
  height: 56px;
  padding: 4px;

  &__section {
    padding: 0 0 0 20px;

    h1, h2, h3 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }
  }

  &__title {
    line-height: 22px !important;
  }

  &__subtitle {
    font-weight: normal !important;
    font-style: italic;
    line-height: 20px !important;
    padding-left: 2px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    background-color: rgb(237, 237, 237);
    color: #000;
    height: 64px;
    padding: 8px 12px;
    border-radius: 12px 12px 0 0;
  }
}
