<section class="simple-list-container" xmlns="http://www.w3.org/1999/html">
  <header class="header" [class.header__info-panel-opened]="infoPanelOpen">
    <section class="header__section">
      <h1 class="mdc-typography--headline6 header__title" *ngIf="list">{{list.name}}</h1>
      <h2 class="mdc-typography--subtitle2 header__subtitle">
        {{listReadableLegend}}
      </h2>
    </section>
    <span style="flex: 1"></span>
    <section class="mdc-menu-surface--anchor">
      <button class="mdc-icon-button material-icons" aria-label="Share" (click)="openShareDialog()" *ngIf="hasShareApi">share</button>
      <button class="mdc-icon-button material-icons" aria-label="Share" (click)="openContextMenu()">more_vert</button>

      <div class="mdc-menu mdc-menu-surface" #contextMenuDiv>
        <ul class="mdc-deprecated-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
          <li class="mdc-deprecated-list-item" role="menuitem" (click)="openInfoPanel()" *ngIf="!infoPanelOpen">
            <span class="mdc-deprecated-list-item__ripple"></span>
            <span class="mdc-deprecated-list-item__text">Informações da lista</span>
          </li>
          <li class="mdc-deprecated-list-item" role="menuitem" (click)="copyListToClipboard()">
            <span class="mdc-deprecated-list-item__ripple"></span>
            <span class="mdc-deprecated-list-item__text">Copiar lista como texto</span>
          </li>
          <li class="mdc-deprecated-list-item" role="menuitem" (click)="duplicateList()">
            <span class="mdc-deprecated-list-item__ripple"></span>
            <span class="mdc-deprecated-list-item__text">Duplicar lista</span>
          </li>
          <li class="mdc-deprecated-list-divider" role="separator"></li>
          <li class="mdc-deprecated-list-item" role="menuitem" [routerLink]="['/']">
            <span class="mdc-deprecated-list-item__ripple"></span>
            <span class="mdc-deprecated-list-item__text">Criar nova lista</span>
          </li>
          <li class="mdc-deprecated-list-item" role="menuitem" [routerLink]="['/about']">
            <span class="mdc-deprecated-list-item__ripple"></span>
            <span class="mdc-deprecated-list-item__text">Sobre o aplicativo</span>
          </li>
        </ul>
      </div>
    </section>
  </header>

  <ul class="mdc-deprecated-list simple-list" #simpleList>
    <li class="mdc-deprecated-list-item list-item" tabindex="0" *ngFor="let item of items; let i = index;" #listItemElement>
      <span class="mdc-deprecated-list-item__ripple"></span>
      <span class="mdc-deprecated-list-item__text" style="flex: 1; display: inline-flex">
      <span style="font-weight: 500">{{i + 1}}.&nbsp;</span>
      <input class="list-item__input" [value]="item.value" type="text"
             (input)="listItemInput($event, i, item)"
             (keyup.arrowUp)="listItemInputArrowUp(listItemElement)"
             (keyup.arrowDown)="listItemInputArrowDown(listItemElement)"
             (keyup.enter)="listItemInputEnter(i, $event, listItemElement)"
             (keyup.backspace)="removeItemIfEmpty(i, $event, listItemElement, true)"
             (blur)="removeItemIfEmpty(i, $event, listItemElement)"
             (focus)="listItemInputFocus($event)"
             [attr.maxlength]="maxItemValueLength">
    </span>

      <ng-container *ngIf="list && list.type === 'PEOPLE'">
      <span class="mdc-evolution-chip" style="border-radius: 4px" role="row" id="c0" *ngIf="item.additional" (click)="minusOne(i, item)">
        <span class="mdc-evolution-chip__cell mdc-evolution-chip__cell--primary" role="gridcell">
          <button class="mdc-evolution-chip__action mdc-evolution-chip__action--primary" type="button" tabindex="0">
            <span class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"></span>
            <span class="mdc-evolution-chip__text-label">{{item.additional + 1}}</span>
          </button>
        </span>
      </span>

        <span class="mdc-deprecated-list-item__meta material-icons"
              [class.list-item__meta-disabled]="item.additional && item.additional >= 8"
              aria-label="Mais um" (click)="(!item.additional || item.additional < 8) && plusOne(i, item)">
      plus_one
      </span>
      </ng-container>

      <span class="mdc-deprecated-list-item__meta material-icons" aria-hidden="true" (click)="removeItem(i)">
      clear
    </span>
    </li>

    <li class="new-item-form-container" #listItemElement>
      <form (ngSubmit)="appendItem(); newItemInput.focus()" class="new-item-form" #newItemForm="ngForm">
        <label class="mdc-text-field mdc-text-field--filled" style="flex: 1" #textField>
          <span class="mdc-text-field__ripple"></span>
          <span class="mdc-floating-label" id="my-label-id">Adicionar {{itemLabel}}</span>
          <input ngModel type="text"
                 autocomplete="off"
                 class="mdc-text-field__input"
                 aria-labelledby="my-label-id"
                 name="itemValue"
                 [disabled]="items.length >= maxListLength"
                 (paste)="onPasteText($event)"
                 (keyup.backspace)="editLastItem($event, listItemElement)"
                 (keyup.arrowUp)="listItemInputArrowUp(listItemElement)"
                 (keyup.arrowDown)="listItemInputArrowDown(listItemElement)"
                 [maxlength]="maxItemValueLength" #newItemInput>
          <span class="mdc-line-ripple"></span>

          <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-character-counter"></div>
          </div>
        </label>
        <button type="submit" class="mdc-button mdc-button--raised new-item-form__submit-button" [disabled]="!newItemForm.value['itemValue']">
          <span class="material-icons mdc-button__label">send</span>
        </button>
      </form>
    </li>
  </ul>
</section>

<aside class="simple-list-info" [style.display]="infoPanelOpen ? 'flex' : 'none'">
  <header class="header" style="border-top-left-radius: 0">
    <button class="mdc-icon-button material-icons" (click)="infoPanelOpen = false">clear</button>
    <section class="header__section">
      <h1 class="mdc-typography--subtitle1 header__title">Informações da lista</h1>
    </section>
    <span style="flex: 1"></span>

    <button class="mdc-icon-button material-icons" aria-label="Share" *ngIf="!infoPanelEdit" (click)="infoPanelEdit = true">edit</button>
  </header>
  <form (ngSubmit)="updateListInfo()" class="simple-list-info__content" #editListForm="ngForm">
    <fieldset style="box-sizing: border-box; min-height: 105px;">
      <ng-container *ngIf="!infoPanelEdit">
        <h1 class="mdc-typography--headline6">{{list?.name}}</h1>
        <small style="color: rgba(0, 0, 0, 0.64)">Criada em {{list?.dateCreated | date: 'dd/MM/yyyy \'às\' HH:mm'}}</small>
      </ng-container>

      <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label" style="margin-top: 1rem; margin-bottom: 1rem" [style.display]="infoPanelEdit ? 'block' : 'none'">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
        <input ngModel class="mdc-text-field__input" type="text" aria-label="Nome da lista" name="name" maxlength="30" placeholder="Nome da lista" required>

        <div class="mdc-text-field-helper-line">
          <div class="mdc-text-field-character-counter"></div>
        </div>
      </label>
    </fieldset>

    <fieldset style="box-sizing: border-box; min-height: 140px;">
      <h1 class="mdc-typography--subtitle2 header__title">Descrição</h1>
      <ng-container *ngIf="!infoPanelEdit">
        <p class="mdc-typography--body1" style="font-size: 0.9em">
          <ng-container *ngIf="list?.description; else noDescription">
            {{list?.description}}
          </ng-container>
          <ng-template #noDescription>
            <i>Nenhuma descrição</i>
          </ng-template>
        </p>
      </ng-container>

      <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea mdc-text-field--no-label" [style.display]="infoPanelEdit ? 'block' : 'none'">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
        <span class="mdc-text-field__resizer">
          <textarea ngModel class="mdc-text-field__input" rows="5" cols="40" aria-label="Label" name="description" maxlength="144"></textarea>
        </span>
      </label>
      <div class="mdc-text-field-helper-line" [style.display]="infoPanelEdit ? 'flex' : 'none'">
        <div class="mdc-text-field-character-counter"></div>
      </div>
    </fieldset>

    <fieldset *ngIf="infoPanelEdit" style="flex-direction: row; justify-content: flex-end; gap: 10px; padding-top: 1rem; box-sizing: border-box; min-height: 69px;">
      <button type="button" class="mdc-button" (click)="cancelEdit()">Cancelar</button>
      <button type="submit" class="mdc-button mdc-button--raised" [disabled]="editListForm.invalid">Salvar</button>
    </fieldset>
  </form>
  <section style="display: flex; flex-direction: column; align-items: center; padding: 1rem" *ngIf="list && !infoPanelEdit">
    <p class="mdc-typography--body2" style="text-align: center; color: rgba(0, 0, 0, 0.64)">
      Essa é uma lista simples e colaborativa. A ultima alteração foi realizada <span style="font-weight: 500">{{list.dateUpdated | dateInterval}}</span>.
    </p>
    <p class="mdc-typography--body2" style="text-align: center; color: rgba(0, 0, 0, 0.64); font-size: 0.8em">
      Listas sem alterações há mais de 3 meses serão automaticamente excluídas. <a style="color: rgba(0, 0, 0, 0.64); font-weight: 500" [routerLink]="['/about']">Saiba mais</a>
    </p>
  </section>
</aside>
