<ng-container *ngIf="list">
  <header class="header">
    <section class="header__section">
      <h1 class="mdc-typography--headline6 header__title">{{list.name}}</h1>
      <h2 class="mdc-typography--subtitle2 header__subtitle">
        <ng-container *ngIf="items.length === 0">Nenhum item</ng-container>
        <ng-container *ngIf="items.length === 1">1 item</ng-container>
        <ng-container *ngIf="items.length > 1">{{items.length}} itens</ng-container>
      </h2>
    </section>
    <span style="flex: 1"></span>
    <section>
      <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded" aria-label="Share" (click)="openShareDialog()" *ngIf="hasShareApi">share</button>
    </section>
  </header>
</ng-container>

<ul class="mdc-deprecated-list simple-list" #simpleList>
  <li class="mdc-deprecated-list-item list-item" tabindex="0" *ngFor="let item of items; let i = index;">
    <span class="mdc-deprecated-list-item__ripple"></span>
    <span class="mdc-deprecated-list-item__text" style="width: 100%; display: inline-flex">
      <span style="font-weight: 500">{{i + 1}}.&nbsp;</span>
      <input class="list-item__input" [value]="item.value" type="text"
             (input)="listItemInput($event, i)"
             (keyup.arrowUp)="listItemInputArrowUp($event)"
             (keyup.arrowDown)="listItemInputArrowDown($event)"
             (keyup.enter)="listItemInputEnter(i, $event)"
             (keyup.backspace)="removeItemIfEmpty(i, $event, true)"
             (blur)="removeItemIfEmpty(i, $event)"
             (focus)="listItemInputFocus($event)"
             maxlength="30">
    </span>
    <!--        <span class="mdc-deprecated-list-item__secondary-text">{{item.dateCreated}}</span>-->
    <span class="mdc-deprecated-list-item__meta material-icons" aria-hidden="true" (click)="removeItem(i)">
      clear
    </span>
  </li>

  <li class="new-item-text-filed-container">
    <label class="mdc-text-field mdc-text-field--filled" style="width: 100%" #textField>
      <span class="mdc-text-field__ripple"></span>
      <span class="mdc-floating-label" id="my-label-id">Adicionar item</span>
      <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
             (keyup.enter)="appendItem($event)"
             (keyup.backspace)="editLastItem($event)"
             (keyup.arrowUp)="listItemInputArrowUp($event)"
             (keyup.arrowDown)="listItemInputArrowDown($event)"
             maxlength="30">
      <span class="mdc-line-ripple"></span>
    </label>

    <div class="mdc-text-field-helper-line">
      <div class="mdc-text-field-character-counter"></div>
    </div>
  </li>
</ul>
